@import "bootstrap";

.geodata {
	> li {
		font-size: 12px;
		> span {
			font-weight: bold;
		}
	}
}

.form-container {
  	background: rgba(255,255,255,.5);	
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;	
}